<html>
    <head>
        <style>

          .side-div{
              background-color:silver;
              width: 212px;
              float: left;
              height: 100%;
          }
          .side-div a{
              display: block;
              padding: 12px 12px;
          }
         
          #center{
              width: 70%;
              height: 100%;
              float: left;
              margin-left: 20px;
          }
          #block-element{
              margin: 16% 40%;
          }
        </style>
    </head>
    <body>
       
            <div  class="side-div">
                {{message}}
                {% if msg %}
                    <div>
                        <a href="/heroku/userlogin">Click here for login</a>
                        <a href="/heroku/saveuserdata">Create an account</a>
                    </div>
                    
                {% else %}
                     <a href="/heroku/changepassword">Change Password</a>
                {% endif %}
            </div>
            <div  id="center">
                
                <div id="block-element">
                    {% block content %}
                
                {% endblock %}
                </div>
            </div>
            <div class="side-div">

            </div>
    </body>
</html>